<html>
	<head>
		<meta charset='UTF-8'/>
		<title>Barrowmaze Restocker</title>
	</head>
	<body>
		<div class='container'>
			<h3>Barrowmaze Restocker</h3>
			<label>Party Level:</label><input class="input" type="number" id="party-level" value="1" min="1" max="10"></input>
			<button id='restock-btn' class="input" onClick='restock()'>restock</button>
			<div id='output'>
				<pre>When the party's away, the skellies will play...</pre>
			</div>
		</div>
	</body>
<script type='text/javascript'>
const btn = document.getElementById('restock-btn');
const output = document.getElementById('output');
const partyLevel = document.getElementById('party-level');
const addOutput = function(text) {
	let msg = document.createElement('pre');
	msg.textContent = text;
	output.prepend(msg);
}
const restock = function() {
	const req = new XMLHttpRequest();
	const lvl = parseInt(partyLevel.value);
	req.open('GET', `/restock?lvl=${lvl}`, true);
	req.onload = (e) => {
		const res = req.responseText;
		addOutput(res)
	};
	req.onerror = (e) => {
		addOutput('Server is not responding :(' + xhr.statusText);
	};
	req.send(null);
}
</script>
<style>
pre {
	border-width: 1;
	border-color: black;
	border-style: solid;
	padding: 10px;
}

.container {
	max-width: 600px;
	margin: auto;
	margin-top:30px;
	font-family: "Times New Roman", Times, Serif;
}

.input {
	font-family: "Times New Roman", Times, Serif;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	border-style: none;
}

#party-level {
	width: 80px;
	margin-left: 10px;
	margin-right: 20px;
}
</style>
</html>
